## Intent: 
Based on the LSTM Vectorized backtest, we are going to want to use that barbaric vectorized strategy to signal buy/sell from alpaca.

In [39]:
from Packages.lstm import *#lstm, df_finalize, lstm_prep
from Packages.Alpaca_Connection import get_data_today

In [40]:
symbol = 'mmm'
df = get_data_today(symbol)
df = df_finalize(df)
X_train, X_test, y_train, y_test = lstm_prep(df)
results = lstm(df)

Epoch 1/10

/opt/anaconda3/lib/python3.9/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

152/152 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 0.0792
Epoch 2/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0250
Epoch 3/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0142
Epoch 4/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0146
Epoch 5/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0100
Epoch 6/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0089
Epoch 7/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0175
Epoch 8/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0124
Epoch 9/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0098
Epoch 10/10
152/152 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 0.0081
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 193ms/step

/Users/johnlanoue/Documents/GitHub/AlgoTrading/Packages/lstm.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v['Predictions'] = LSTM_predictions

In [42]:
results

array([[148.67244],
       [149.19987],
       [147.47528],
       [147.1582 ],
       [145.37904],
       [145.44319],
       [146.67798],
       [147.9771 ],
       [149.1512 ],
       [150.41957],
       [151.92937],
       [153.80104],
       [155.78018],
       [155.12054],
       [152.43219],
       [150.79501],
       [150.60881],
       [150.93112],
       [151.0989 ],
       [153.04092],
       [153.15674],
       [153.25806],
       [153.23958],
       [153.6191 ],
       [152.98613],
       [151.9653 ],
       [150.42346],
       [150.97133],
       [151.54234],
       [151.39021],
       [150.85104],
       [150.70924],
       [153.18207],
       [154.26407],
       [154.10173],
       [153.68373],
       [152.781  ],
       [152.29485]], dtype=float32)

In [43]:
raw= get_data_today()
raw

,symbol,timestamp,Open,High,Low,Close,Volume,Trade Count,vwap
0,MMM,2024-09-20 04:00:00+00:00,133.010,134.95,132.771,134.77,11579638.0,64581.0,134.561035
1,MMM,2024-09-23 04:00:00+00:00,134.700,136.09,134.690,135.64,2638392.0,46914.0,135.605503
2,MMM,2024-09-24 04:00:00+00:00,136.470,137.94,136.350,137.22,3145327.0,56245.0,137.179219
3,MMM,2024-09-25 04:00:00+00:00,137.230,137.89,136.040,136.60,3580080.0,44162.0,136.790328
4,MMM,2024-09-26 04:00:00+00:00,137.560,140.72,137.550,139.44,4111107.0,62292.0,139.348901
...,...,...,...,...,...,...,...,...,...
245,MMM,2025-09-15 04:00:00+00:00,158.000,158.38,155.250,156.66,3219697.0,50501.0,156.420707
246,MMM,2025-09-16 04:00:00+00:00,156.895,157.48,153.630,156.50,2208605.0,46981.0,155.671354
247,MMM,2025-09-17 04:00:00+00:00,156.495,158.54,153.540,155.16,2757388.0,49681.0,155.811632
248,MMM,2025-09-18 04:00:00+00:00,155.150,156.92,154.310,155.40,1795288.0,39373.0,155.427133
249,MMM,2025-09-19 04:00:00+00:00,155.910,157.41,154.690,156.60,6507181.0,45522.0,156.469185

### Buy Sell Strategy: 
Just like in the backtest, if the value is higher, we buy, else we sell if the order is today.  We also need to consider, if we are selling, we need to have a share.  In the future, we may want to consider buying on margin, or trading options.

In [27]:
from alpaca.data.live import StockDataStream
from alpaca.trading.client import TradingClient
from alpaca.trading.requests import MarketOrderRequest
from alpaca.trading.enums import OrderSide, TimeInForce

# Replace with your Alpaca API keys
API_KEY = "YOUR_API_KEY"
SECRET_KEY = "YOUR_SECRET_KEY"

# Create trading client
trading_client = TradingClient(API_KEY, SECRET_KEY, paper=True)  # paper=True for paper trading

In [45]:



df["timestamp"][-1:]
df["timestamp"].where(df["timestamp"] = today())

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1317435840.py, line 2)

In [60]:
import pandas as pd
today = pd.Timestamp(datetime.today().date())
today

df.loc[df["timestamp"] == today]

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [ ]:
# Example: Buy 1 share of AAPL
market_order_data = MarketOrderRequest(
    symbol=symbol,
    qty=1,
    side=OrderSide.BUY,
    time_in_force=TimeInForce.DAY
)

market_order = trading_client.submit_order(order_data=market_order_data)
print("Buy order:", market_order)

# Example: Sell 1 share of AAPL
sell_order_data = MarketOrderRequest(
    symbol="AAPL",
    qty=1,
    side=OrderSide.SELL,
    time_in_force=TimeInForce.DAY
)

sell_order = trading_client.submit_order(order_data=sell_order_data)
print("Sell order:", sell_order)